@import 'src/variables.scss';

.layout {
  max-width: $mobile-width;
  height: 100%;
  margin: auto;

  &.default {
    padding: 1.5rem;
  }

  &.fit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0 1.5rem;
    overflow: hidden;

    main {
      display: flex;
      flex-direction: column;
      flex: 0.8;
      justify-content: space-around;
      width: 100%;
    }
  }

  &.use-navigation {
    padding-top: $nav-height;
  }
}
