@import 'src/variables.scss';

.container {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $mid-gray;

  &__avatar {
    max-width: 2rem;
    max-height: 2rem;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 1rem;
  }

  &__icon {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    right: 0;
    bottom: 0;
    border: 1px solid red;
    border-radius: 0.4rem;
  }
}