@import 'src/variables.scss';

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;

  background-color: white;

  &.primary {
    color: $white;
    background-color: $primary-color;
  }

  & button {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 1rem;
    color: $primary-color;
    z-index: 5;
  }

  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 48rem;
    height: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;

  &.left {
    left: 1.5rem;
  }
  &.right {
    right: 1.5rem;
  }
}
