.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 11rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  text-align: center;
  transform: translate(-50%, -50%);

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
