@import 'src/variables.scss';

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 14rem;
  height: 12rem;
  padding: 1rem;
  border-radius: 1.4rem;
  background-color: white;
  text-align: center;
  transform: translate(-50%, -50%);

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
  }

  &__desc {
    font-size: 0.8rem;
    color: $mid-gray;
  }
}
