.container {
  position: relative;
  width: 100%;
}

.common-button {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  background-color: #4B71A9;
  box-sizing: border-box;
  font-size: 1.1rem;
  border: none;
  background-position: center;
  transition: background-color 0.8s;
  color: white;

  &:hover {
    background-color: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }

  &:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background-color 0s;
  }
}

.rounded {
  border-radius: 1.5rem;
}

.signup-type {
  color: #191919;
  background-color: #DCE2EE;
}

.disabled {
  color: grey;

  &:hover {
    background-color: #F3F3F3;
  }

  &:active {
    background-color: #F3F3F3;
  }
}