.container {
  position: relative;
}

.common-button {
  width: 15rem;
  height: 3rem;
  color: #000;
  border-radius: 10px;
  background-color: #F3F3F3;
  box-sizing: border-box;
  font-size: 1.1rem;
  border: none;

  &:hover {
    background-color: #ececec;
  }

  &:active {
    background-color: #dfdfdf;
  }
}

.disabled {
  color: grey;

  &:hover {
    background-color: #F3F3F3;
  }

  &:active {
    background-color: #F3F3F3;
  }
}