.container {
  position: relative;
}

.common-button {
  width: 15rem;
  height: 3rem;
  color: #000;
  border-radius: 10px;
  background-color: #2196f3;
  box-sizing: border-box;
  font-size: 1.1rem;
  border: none;
  background-position: center;
  transition: background-color 0.8s;

  &:hover {
    background-color: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }

  &:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background-color 0s;
  }
}

.disabled {
  color: grey;

  &:hover {
    background-color: #F3F3F3;
  }

  &:active {
    background-color: #F3F3F3;
  }
}