.input {
  display: flex;
  align-items: center;
  justify-content: center;
  //padding-left: 15px;
  border-radius: 10px;
  background-color: #F3F3F3;
  position: relative;
  box-sizing: border-box;
  height: 3rem;
  width: 12rem;

  input {
    border: none;
    background-color: transparent;
    font-size: 15px;
    padding: 20px 15px;
    width: 6rem;
    height: 1.3rem;

    &::placeholder {
      color: #9F9F9F;
      line-height: 18px;
    }

    &:focus {
      outline: none;
    }
  }
}

.focused {
  border: 5px solid red;
}

.icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

.border {
  position: absolute;
}