$primary-color: #4B71A9;
$secondary-color: #DCE2EE;
$secondary-light: #F9F7F7;
$success-color: #80CC65;
$warning-color: #F6C963;
$error-color: #C53923;
$accent-color: #DC2828;
$white: #ffffff;
$light-gray: #E6E6E6;
$mid-gray: #CCCCCC;
$gray: #666666;
$black: #191919;
