.container {
  position: relative;
}

.text-input {
  width: 15rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  background-color: #F3F3F3;
  box-sizing: border-box;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;

  &::placeholder {
    color: #9F9F9F;
    font-size: 1rem;
  }

  &:focus {
    border: 3px solid #bdc3c7;
    outline: none;
  }
}

.text-input__with-icon {
  padding-left: 3rem;
}

.valid {
  border: 3px solid red;
}

.icon {
  position: absolute;
  left: 10px;
  top: 9px;
}