@import 'src/variables.scss';

.container {
  position: relative;
  width: 100%;
}

.text-input {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  background-color: $secondary-light;
  box-sizing: border-box;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;

  &::placeholder {
    color: $mid-gray;
    font-size: 1rem;
  }

  &:focus {
    border: 2px solid $mid-gray;
    outline: none;
  }
}

.rounded {
  border-radius: 1.5rem;
}

.background-white {
  background-color: $white !important;
}

.text-input__with-icon {
  padding-left: 3rem;
}

.valid {
  border: 3px solid $error-color;
}

.icon {
  position: absolute;
  left: 10px;
  top: 9px;
}